Repository microsoft/ApplicationInspector: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Path conditions:
  Pipelines/appinspector-pr.yml: any of: Pipelines, AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine, AppInspector.Tests, AppInspector.Tests.CLI
  Pipelines/appinspector-release.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/core-pipeline.yml: any of: AppInspector, AppInspector.CLI, AppInspector.Common, AppInspector.Logging, AppInspector.RulesEngine
  Pipelines/sdl.yml: any of: AppInspector, AppInspector.CLI, MultiExtractor, RulesEngine

Update appinspector-pr.yml
  Pipelines/appinspector-pr.yml
Due: Pipelines/appinspector-pr.yml

Update AnalyzeCommand.cs
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Migrate to 1ES Templates (#582)
  Pipelines/appinspector-pr.yml
Due: Pipelines/appinspector-pr.yml

Fix off by one error in GetPrefixLocation recursion
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml

Adds new quoted strings test case
  AppInspector.Tests/RuleProcessor/QuotedStringsTests.cs
Due: Pipelines/appinspector-pr.yml

Fix off by one error in GetPrefixLocation recursion (#584)
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/RuleProcessor/QuotedStringsTests.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml

Create Do not worry , I will prepare only and leave
  Do not worry , I will prepare only and leave
Due: none

Update appinspector-release.yml
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

Update appinspector-release.yml (#587)
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

Fix #589
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Also use absolute path in error message
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Convert user provided relative source paths to absolute paths before analysis (#590)
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

add release stage with new signing
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

add release stage with new signing (#591)
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

add release to GitHub and NuGet
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

switch nuget publish to 1ES output
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

add release to GitHub and NuGet (#592)
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

Bump Dependencies
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Directory.Build.props
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Bump Dependencies (#594)
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Directory.Build.props
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update Dependencies.
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update Dependencies. (#597)
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Add Catch around Recursive Extractor calls
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Fix Capitalization
  AppInspector.RulesEngine/RuleProcessor.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml

Clamp GetLocation to end of file
  AppInspector.RulesEngine/TextContainer.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml

Add Exception Handling Around More Recursive Extractor Calls (#599)
  AppInspector.RulesEngine/RuleProcessor.cs
  AppInspector.RulesEngine/TextContainer.cs
  AppInspector/Commands/AnalyzeCommand.cs
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Run NBGV before setting net 6 for ESRP task
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

Add Net 9.0 build, remove net 6.0 and net 7.0 builds
  AppInspector.Benchmarks/AppInspector.Benchmarks.csproj
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.Logging/AppInspector.Logging.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update .gitignore
  .gitignore
Due: none

Update dependencies
  AppInspector.CLI/AppInspector.CLI.csproj
  AppInspector.Common/AppInspector.Common.csproj
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector.Tests/AppInspector.Tests.csproj
  AppInspector/AppInspector.Commands.csproj
  Directory.Build.props
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Update pipelines
  Pipelines/appinspector-pr.yml
  Pipelines/appinspector-release.yml
Due: Pipelines/appinspector-pr.yml

Bump OAT Dependency
  AppInspector.RulesEngine/AppInspector.RulesEngine.csproj
  AppInspector/AppInspector.Commands.csproj
Due: Pipelines/appinspector-pr.yml, Pipelines/appinspector-release.yml, Pipelines/core-pipeline.yml, Pipelines/sdl.yml

Change Class Cleanup to Test Cleanup
  AppInspector.Tests/Languages/LanguagesTests.cs
Due: Pipelines/appinspector-pr.yml

Switch ClassCleanup to Test Cleanup
  AppInspector.Tests/Commands/TestTagDiffCmd.cs
Due: Pipelines/appinspector-pr.yml

Try Changing TestInitialize and Cleanup to ClassInitialize and Cleanup
  AppInspector.Tests/Commands/TestTagDiffCmd.cs
Due: Pipelines/appinspector-pr.yml

Try fix file in use conflict in LoadRulesTests.cs
  AppInspector.Tests/RuleProcessor/LoadRulesTests.cs
Due: Pipelines/appinspector-pr.yml

Swap TestInitialize and Cleanup to ClassInitialize and cleanup
  AppInspector.Tests/Languages/LanguagesTests.cs
Due: Pipelines/appinspector-pr.yml
